APP_NAME=TruthSetu
APP_ENV=development
APP_PORT=8000

LLM_PROVIDER=groq
GROQ_API_KEY=your_groq_api_key_here
GROQ_MODEL=llama-3.1-8b-instant

MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?appName=truthsetu
MONGODB_DB_NAME=truthsetu

REDIS_URL=redis://localhost:6379/0

EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
FAISS_INDEX_PATH=./data/faiss_index

GREEN_API_INSTANCE_ID=your_instance_id
GREEN_API_TOKEN=your_token

TELEGRAM_BOT_TOKEN=your_bot_token
TELEGRAM_DEPLOY_CHANNEL=@your_channel

TWITTER_BEARER_TOKEN=your_bearer_token

PIB_RSS=https://pib.gov.in/RssMain.aspx?ModID=6&Lang=1
IMD_RSS=https://mausam.imd.gov.in/imd_latest/contents/rss-feed.php
WHO_RSS=https://www.who.int/rss-feeds/news-releases.xml
NDMA_RSS=https://ndma.gov.in/RSS/ndma.xml
HINDU_RSS=https://www.thehindu.com/news/feeder/default.rss
IE_RSS=https://indianexpress.com/feed/
NDTV_RSS=https://feeds.feedburner.com/ndtvnews-top-stories
ALTNEWS_RSS=https://www.altnews.in/feed/
BOOM_RSS=https://www.boomlive.in/feed